[Unit]
Description=Phabricator Daemons
After=syslog.target network.target mysql.service

[Service]
Type=forking
User={{daemon_user}}
Group={{daemon_user}}
ExecStart={{phab}}/bin/phd start
ExecStop={{phab}}/bin/phd stop

[Install]
WantedBy=multi-user.target
